@page "/"
@page "/PageWelcome"

@{
    string Nombre = "Juan Camilo Fernández S.";
}


<div><h2><PageComponent Nombre="@Nombre" /></h2></div>
<div><h3>Convierte tu visión en un software de éxito</h3></div>


