@page "/PageContact"


<h3>Contacto</h3>

@if (contactSent)
{
    <div class="contact-sent">

        <p>Hola, soy @contact.Name. Quiero contactarme con ustedes por lo siguiente:</p>
        <p>@contact.Message</p>
        <p>Pueden comunicarse conmigo en:</p>
        <ul>
            <li>Correo electrónico: @contact.Email</li>
            <li>Teléfono: @contact.PhoneNumber</li>
        </ul>
    </div>
}
else
{
    <div class="contact-form">
        <form>
            <div class="form-group">
                <label for="name">Nombre:</label>
                <input type="text" class="form-control" id="name" @bind="contact.Name" />
            </div>
            <div class="form-group">
                <label for="email">Correo electrónico:</label>
                <input type="email" class="form-control" id="email" @bind="contact.Email" />
            </div>
            <div class="form-group">
                <label for="phone">Número de Teléfono:</label>
                <input type="tel" class="form-control" id="phone" @bind="contact.PhoneNumber" />
            </div>
            <div class="form-group">
                <label for="message">Mensaje:</label>
                <textarea class="form-control" id="message" rows="4" @bind="contact.Message"></textarea>
            </div>
            <button type="submit" class="btn btn-primary" @onclick="SubmitForm">Enviar</button>
        </form>
    </div>
}

@code {
    private Contact contact = new Contact();
    private bool contactSent = false;

    private void SubmitForm()
    {
        // Aquí puedes agregar lógica adicional, como enviar el formulario a través de una API o guardar los datos en una base de datos
        
        // Marcar el contacto como enviado
        contactSent = true;
    }

    public class Contact
    {
        public string Name { get; set; }
        public string Email { get; set; }
        public string PhoneNumber { get; set; }
        public string Message { get; set; }
    }
}

<style>
    .contact-form {
        max-width: 400px;
        margin: 0 auto;
    }

    .form-group {
        margin-bottom: 1rem;
    }

    label {
        display: block;
        font-weight: bold;
        margin-bottom: 0.5rem;
    }

    input[type="text"],
    input[type="email"],
    input[type="tel"],
    textarea {
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
    }

    button[type="submit"] {
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        border: none;
        border-radius: 0.25rem;
        background-color: #007bff;
        color: #fff;
    }

    .contact-sent {
        margin-top: 1rem;
    }
</style>

