@inherits LayoutComponentBase


<nav class="navbar">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/PageContact">Contacto</a></li>
        <li><a href="/PageApi">API</a></li>

    </ul>
</nav>

<div class="container">
    <div class="main-content">
        @Body
    </div>
</div>
